@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));


}

.scrollbar{
background-color: red;}



.formplaceholder::placeholder {
  position: relative;
  font-weight: bold;
  color: black;
  text-align: center;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}















@media only screen and (max-height: 600px) {
  .resultsgrid{height: 300px;
  overflow-y: scroll;
  
  }

}

@media only screen and (max-height: 550px) {
  .resultsgrid{height: 270px;
  overflow-y: scroll;
  
  }




}@media only screen and (max-height: 500px) {
  .resultsgrid{height: 230px;
  overflow-y: scroll;
  
  }

}

@media only screen and (max-height: 470px) {
  .resultsgrid{height: 200px;
  overflow-y: scroll;
  
  }

}


@media only screen and (max-height: 450px) {
  .resultsgrid{height: 180px;
  overflow-y: scroll;
  
  }

}


@media only screen and (max-height: 400px) {
  .resultsgrid{height: 150px;
  overflow-y: scroll;
  
  }

}

@media only screen and (max-height: 350px) {
  .resultsgrid{height: 120px;
  overflow-y: scroll;
  
  }

}

@media only screen and (max-height: 330px) {
  .resultsgrid{height: 100px;
  overflow-y: scroll;
  
  }

}